html, body {
  font-family: serif;
  font-size: 16px;
}

.timer {
  margin: 5rem;
  text-align: center; /* 中央揃え */
}

.hour, .minute, .second {
  display: inline-block;
  margin: 0 20px; /* 各セクションの間にスペースを追加 */
  text-align: center; /* 中央揃え */
  vertical-align: middle; /* セクション同士を垂直方向に揃える */
}

.inputhourtext, .inputminutetext, .inputsecondtext {
  width: 50px;
  text-align: center;
  margin-right: 10px; 

}

.hour, .minute, .second > input[type="text"] {
  display: inline-block;
  vertical-align: middle;
}

.hour p, .minute p, .second p {
  display: inline-block;
  vertical-align: middle; 
}

.timerbutton {
  margin-top: 10px;
}

.downbutton, .upbutton {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: lightgray;
  border: 1px solid black;
  cursor: pointer;

}

.button {
  margin-top: 20px;
  text-align: center;
}

.start, .stop, .reset {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
 
}
